Repository bit-ocean-studio/infra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{md,html,css,scss}": ["prettier --write"]
}

style(cli): :lipstick: template README.md typo
  packages/cli/assets/templates/monorepo-lib/README.md.hbs
Due: none

chore: :hammer: add TODO
  packages/cli/src/generators/action.ts
Due: eslint --fix, prettier --write

feat: :sparkles: release v0.0.36
  examples/storybook/.gitkeep
  packages/antd/.gitkeep
  packages/axios/package.json
  packages/bootstrap-animation/README.md
  packages/bootstrap-animation/package.json
  packages/bootstrap-animation/src/config.ts
  packages/bootstrap-animation/src/index.ts
  packages/bootstrap-animation/src/types.ts
  packages/bootstrap-animation/src/utils.ts
  packages/bootstrap-animation/src/vite-plugin.ts
  packages/bootstrap-animation/tsconfig.json
  packages/bootstrap-animation/tsup.config.ts
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/config/src/team.ts
  packages/config/src/types.ts
  packages/cspell/dicts/bit-ocean.txt
  packages/cspell/dicts/common.txt
  packages/cspell/package.json
  packages/echarts/.gitkeep
  packages/eslint-config/package.json
  packages/eslint-config/src/presets/react.ts
  packages/eslint-config/src/presets/typescript.ts
  packages/hooks/.gitkeep
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/storybook/.gitkeep
  packages/tailwind/package.json
  packages/tailwind/tailwind.config.ts
  packages/tanstack-query/.gitkeep
  packages/theme/README.md
  packages/theme/package.json
  packages/theme/src/antd.ts
  packages/theme/src/index.ts
  packages/theme/tsconfig.json
  packages/theme/tsup.config.ts
  packages/tsconfig/package.json
  packages/utils/.gitkeep
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: update
  packages/i18n/.gitkeep
Due: none

chore: :hammer: update
  packages/api/.gitkeep
  packages/env/.gitkeep
Due: none

chore: :hammer: bump deps
  apps/docs/package.json
  examples/auto-import/react-vite-ahooks/.vscode/settings.json
  examples/auto-import/react-vite-ahooks/package.json
  examples/auto-import/react-vite-antd-pro-components/.vscode/settings.json
  examples/auto-import/react-vite-antd-pro-components/package.json
  examples/auto-import/react-vite-antd/.vscode/settings.json
  examples/auto-import/react-vite-antd/package.json
  package.json
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/eslint-config/package.json
  packages/theme/package.json
  playgrounds/react/package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: remove .vscode
  examples/auto-import/react-vite-ahooks/.vscode/settings.json
  examples/auto-import/react-vite-antd-pro-components/.vscode/settings.json
  examples/auto-import/react-vite-antd/.vscode/settings.json
Due: none

feat(echarts): :sparkles: add `@bit-ocean/echarts` and react vite echarts playground
  README.md
  examples/auto-import/react-vite-ahooks/tsconfig.eslint.json
  examples/auto-import/react-vite-ahooks/tsconfig.json
  examples/auto-import/react-vite-antd-pro-components/@types/auto-imports.d.ts
  examples/auto-import/react-vite-antd-pro-components/tsconfig.eslint.json
  examples/auto-import/react-vite-antd-pro-components/tsconfig.json
  examples/auto-import/react-vite-antd/tsconfig.eslint.json
  examples/auto-import/react-vite-antd/tsconfig.json
  examples/echarts/react-vite-echarts/.eslintrc.json
  examples/echarts/react-vite-echarts/@types/vite-env.d.ts
  examples/echarts/react-vite-echarts/index.html
  examples/echarts/react-vite-echarts/package.json
  examples/echarts/react-vite-echarts/public/vite.svg
  examples/echarts/react-vite-echarts/src/App.tsx
  examples/echarts/react-vite-echarts/src/echarts.ts
  examples/echarts/react-vite-echarts/src/main.tsx
  examples/echarts/react-vite-echarts/tsconfig.eslint.json
  examples/echarts/react-vite-echarts/tsconfig.json
  examples/echarts/react-vite-echarts/tsconfig.node.json
  examples/echarts/react-vite-echarts/vite.config.ts
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/echarts/.gitkeep
  packages/echarts/README.md
  packages/echarts/package.json
  packages/echarts/src/ReactChart.tsx
  packages/echarts/src/index.ts
  packages/echarts/tsconfig.json
  packages/echarts/tsup.config.ts
  packages/theme/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs(echarts): :memo: add zh-CN REAME.md
  packages/echarts/README.zh-CN.md
Due: prettier --write

chore: :hammer: release v0.0.37
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
Due: none

fix(echarts): :bug: move react and echarts to external
  examples/auto-import/react-vite-antd-pro-components/@types/auto-imports.d.ts
  packages/echarts/package.json
  packages/echarts/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: release v0.0.38
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
Due: none

chore: :hammer: release v0.0.40
  .npmrc
  examples/echarts/react-vite-echarts/src/App.tsx
  examples/echarts/react-vite-echarts/src/ChartComponent.tsx
  examples/echarts/react-vite-echarts/src/echarts.ts
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/echarts/src/ReactChart.tsx
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
Due: eslint --fix, prettier --write

docs(echarts): :memo: correct install package name
  packages/echarts/README.md
  packages/echarts/README.zh-CN.md
Due: prettier --write

chore: :hammer: update deps
  examples/auto-import/react-vite-ahooks/package.json
  examples/auto-import/react-vite-antd-pro-components/package.json
  examples/auto-import/react-vite-antd/package.json
  package.json
  packages/auto-import/package.json
Due: none

chore: :hammer: update deps
  pnpm-lock.yaml
Due: none

docs(echarts): :memo: add transition chart example
  examples/echarts/react-vite-echarts/package.json
  examples/echarts/react-vite-echarts/postcss.config.js
  examples/echarts/react-vite-echarts/src/App.tsx
  examples/echarts/react-vite-echarts/src/ChartComponent.tsx
  examples/echarts/react-vite-echarts/src/assets/styles/main.css
  examples/echarts/react-vite-echarts/src/assets/styles/tailwind.css
  examples/echarts/react-vite-echarts/src/components/BarChart.tsx
  examples/echarts/react-vite-echarts/src/components/TransitionChart.tsx
  examples/echarts/react-vite-echarts/src/components/index.ts
  examples/echarts/react-vite-echarts/src/echarts.ts
  examples/echarts/react-vite-echarts/src/main.tsx
  examples/echarts/react-vite-echarts/tailwind.config.js
  examples/echarts/react-vite-echarts/tsconfig.json
  examples/echarts/react-vite-echarts/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: bump deps
  examples/echarts/react-vite-echarts/src/components/BarChart.tsx
  examples/echarts/react-vite-echarts/src/components/TransitionChart.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(echarts): :sparkles: add resize observer for ReactChart
  packages/echarts/src/ReactChart.tsx
  packages/echarts/src/useResizeObserver.ts
Due: eslint --fix, prettier --write

chore: :hammer: release v0.0.41
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
Due: none

chore: :hammer: update
  packages/echarts/src/useResizeObserver.ts
Due: eslint --fix, prettier --write

chore: :hammer: release v0.0.42
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
Due: none

chore: :hammer: bump deps
  apps/docs/package.json
  examples/auto-import/react-vite-ahooks/package.json
  examples/auto-import/react-vite-antd-pro-components/package.json
  examples/auto-import/react-vite-antd/package.json
  examples/echarts/react-vite-echarts/package.json
  package.json
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
  playgrounds/react/package.json
  pnpm-lock.yaml
Due: none

docs(echarts): :memo: add polyfill related
  packages/echarts/README.md
  packages/echarts/README.zh-CN.md
Due: prettier --write

chore: :hammer: bump deps
  apps/docs/package.json
  examples/auto-import/react-vite-antd-pro-components/package.json
  examples/auto-import/react-vite-antd/package.json
  package.json
  packages/commitlint-config/package.json
  packages/eslint-config/package.json
  packages/theme/package.json
  pnpm-lock.yaml
Due: none

feat(auto-import): :sparkles: update react presets
  packages/auto-import/src/presets/next.ts
  packages/auto-import/src/presets/react.ts
Due: eslint --fix, prettier --write

fix(cli): :bug: update monorepo lib template
  packages/cli/assets/templates/monorepo-lib/README.md.hbs
  packages/cli/assets/templates/monorepo-lib/package.json.hbs
Due: none

feat(utils): :sparkles: add `@bit-ocean/utils`
  README.md
  packages/tailwind/README.md
  packages/theme/README.md
  packages/utils/.gitkeep
  packages/utils/README.md
  packages/utils/package.json
  packages/utils/src/auth.ts
  packages/utils/src/browser.ts
  packages/utils/src/date.ts
  packages/utils/src/enums/index.ts
  packages/utils/src/enums/lang.ts
  packages/utils/src/enums/theme.ts
  packages/utils/src/i18n.ts
  packages/utils/src/index.ts
  packages/utils/src/is.ts
  packages/utils/src/lang.ts
  packages/utils/src/theme.ts
  packages/utils/src/types/browser.ts
  packages/utils/src/types/date.ts
  packages/utils/src/types/function.ts
  packages/utils/src/types/index.ts
  packages/utils/tsconfig.json
  packages/utils/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: update
  packages/theme/src/antd.ts
Due: eslint --fix, prettier --write

feat(prisma): :sparkles: add `@bit-ocean/prisma`
  packages/prisma/.gitkeep
  packages/prisma/README.md
  packages/prisma/package.json
  packages/prisma/prisma/schema.prisma
  packages/prisma/src/basic/index.ts
  packages/prisma/src/basic/prisma-client-exception.filter.ts
  packages/prisma/src/basic/prisma-logging.middleware.ts
  packages/prisma/src/basic/prisma.constants.ts
  packages/prisma/src/basic/prisma.interfaces.ts
  packages/prisma/src/basic/prisma.module.ts
  packages/prisma/src/basic/prisma.service.ts
  packages/prisma/src/basic/soft-delete.extension.ts
  packages/prisma/src/custom/custom-prisma.constants.ts
  packages/prisma/src/custom/custom-prisma.interfaces.ts
  packages/prisma/src/custom/custom-prisma.module.ts
  packages/prisma/src/custom/custom-prisma.service.ts
  packages/prisma/src/custom/index.ts
  packages/prisma/src/index.ts
  packages/prisma/tsconfig.json
  packages/prisma/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(axios): :sparkles: add `@bit-ocean/axios`
  README.md
  packages/axios/@types/axios.d.ts
  packages/axios/README.md
  packages/axios/package.json
  packages/axios/src/error-message.map.ts
  packages/axios/src/http-client.ts
  packages/axios/src/index.ts
  packages/axios/src/instance.ts
  packages/axios/src/types.ts
  packages/axios/test/index.test.ts
  packages/axios/tsconfig.json
  packages/axios/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(axios): :sparkles: add `@bit-ocean/axios`
  packages/axios/tsconfig.json
  packages/i18n/.gitkeep
  packages/i18n/README.md
  packages/i18n/package.json
  packages/i18n/src/constants.ts
  packages/i18n/src/index.ts
  packages/i18n/src/instance.ts
  packages/i18n/src/types.ts
  packages/i18n/tsconfig.json
  packages/i18n/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(auto-import): :sparkles: update presets
  packages/auto-import/src/presets/react.ts
Due: eslint --fix, prettier --write

chore: :hammer: release v0.0.44
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/i18n/package.json
  packages/prettier-config/package.json
  packages/prisma/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: none

feat(auto-import): :sparkles: add `useLocation`
  packages/auto-import/src/presets/react.ts
Due: eslint --fix, prettier --write

chore: :hammer: release v0.0.45
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/i18n/package.json
  packages/prettier-config/package.json
  packages/prisma/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: none

feat(tanstack-query): :sparkles: add `@bit-ocean/tanstack-query`
  .changeset/sour-days-count.md
  README.md
  packages/tanstack-query/.gitkeep
  packages/tanstack-query/README.md
  packages/tanstack-query/package.json
  packages/tanstack-query/src/config.ts
  packages/tanstack-query/src/index.ts
  packages/tanstack-query/tsconfig.json
  packages/tanstack-query/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(hooks): :sparkles: add `@bit-ocean/hooks`
  .changeset/strange-flowers-wait.md
  README.md
  packages/auto-import/src/presets/react.ts
  packages/hooks/.gitkeep
  packages/hooks/README.md
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useRouteStaticData.ts
  packages/hooks/src/useRoutesStaticData.ts
  packages/hooks/tsconfig.json
  packages/hooks/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: release v0.0.46
  .changeset/sour-days-count.md
  .changeset/strange-flowers-wait.md
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/prettier-config/package.json
  packages/prisma/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/tanstack-query/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

chore: :hammer: update
  examples/auto-import/react-vite-ahooks/package.json
  examples/auto-import/react-vite-antd-pro-components/package.json
  examples/auto-import/react-vite-antd/package.json
  examples/echarts/react-vite-echarts/package.json
  examples/storybook/.gitkeep
  pnpm-lock.yaml
Due: none
