Repository bit-ocean-studio/infra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{md,html,css,scss}": ["prettier --write"]
}

chore: :hammer: bump deps
  apps/docs/package.json
  code.code-workspace
  package.json
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/bin/index.js
  packages/cli/package.json
  packages/cspell/dicts/common.txt
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  playgrounds/react/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(commitlint-config): :hammer: remove whitespace for alignment
  packages/commitlint-config/src/index.ts
Due: eslint --fix, prettier --write

chore(prettier-config): :hammer: bump version
  packages/prettier-config/package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: update cspell ignorePaths
  packages/cspell/cspell-ext.json
Due: none

chore: :hammer: cached lint tasks
  nx.json
Due: none

chore: :hammer: bump deps
  apps/docs/package.json
  nx.json
  package.json
  packages/commitlint-config/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: update dicts
  package.json
  packages/cspell/dicts/common.txt
Due: none

chore: :hammer: add changesets for publishing
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: release v0.0.20
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: none

feat(tsconfig): :sparkles: add tsconfig for nest.js
  packages/tsconfig/nest.json
  packages/tsconfig/vite.json
Due: none

chore: :hammer: release v0.0.21
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: none

chore: :hammer: update next.js tsconfig and eslint config
  packages/eslint-config/package.json
  packages/tsconfig/next.json
  pnpm-lock.yaml
Due: none

chore: :hammer: rename apps
  apps/docs/package.json
  playgrounds/react/package.json
Due: none

feat: :sparkles: release v0.0.22
  apps/docs/package.json
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
  playgrounds/react/package.json
  pnpm-lock.yaml
Due: none

fix(eslint-config): :bug: move eslint-config-next to deps
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: none

fix(eslint-config): :bug: correct deps
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: none

feat: :sparkles: release v0.0.25
  package.json
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/presets/tailwind.ts
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: eslint --fix, prettier --write

chore: :hammer: update
  packages/config/src/index.ts
  packages/cspell/dicts/common.txt
Due: eslint --fix, prettier --write

refactor(config): :recycle: rename constants
  packages/cli/src/config.ts
  packages/config/src/team.ts
  packages/config/src/types.ts
Due: eslint --fix, prettier --write

feat(tsconfig): :sparkles: add tsconfig for React Native and Expo
  packages/tsconfig/base.json
  packages/tsconfig/expo.json
  packages/tsconfig/nest.json
  packages/tsconfig/react-native.json
  packages/tsconfig/react.json
Due: none

chore: :hammer: update deps
  .gitignore
  apps/docs/package.json
  package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  playgrounds/react/tsconfig.eslint.json
  playgrounds/react/tsconfig.json
  playgrounds/react/tsconfig.node.json
  pnpm-lock.yaml
Due: none

chore: :hammer: release v0.0.26
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: none

chore: :hammer: release v0.0.27
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/nest.json
  packages/tsconfig/package.json
Due: none

chore: :hammer: update
  examples/nest-prisma-with-extensions/.gitkeep
  examples/nest-prisma/.gitkeep
  packages/bootstrap-animation/.gitkeep
  packages/prisma/.gitkeep
  packages/tsconfig/nest-lib.json
Due: none

chore(renovate-config): :hammer: update config
  packages/renovate-config/package.json
Due: none

chore: :hammer: release v0.0.28
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: none

chore: :hammer: update deps
  .prettierignore
  apps/docs/package.json
  package.json
  packages/commitlint-config/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/tsconfig/package.json
  playgrounds/nest/.gitkeep
  playgrounds/react/package.json
  pnpm-lock.yaml
Due: none

feat(eslint-config): :sparkles: add next rules
  packages/eslint-config/src/config-builder.ts
  packages/eslint-config/src/configs/next.ts
  packages/eslint-config/src/presets/index.ts
  packages/eslint-config/src/presets/next.ts
  packages/eslint-config/src/types.ts
Due: eslint --fix, prettier --write

feat(tailwind): :sparkles: add tailwind config module
  README.md
  packages/tailwind/README.md
  packages/tailwind/package.json
  packages/tailwind/tailwind.config.ts
  packages/tailwind/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: release v0.0.29
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/tsconfig/package.json
Due: none

feat(cli): :sparkles: add monorepo lib generator
  packages/cli/assets/templates/monorepo-lib/README.md.hbs
  packages/cli/assets/templates/monorepo-lib/package.json.hbs
  packages/cli/assets/templates/monorepo-lib/src/index.ts.hbs
  packages/cli/assets/templates/monorepo-lib/tsconfig.json.hbs
  packages/cli/assets/templates/monorepo-lib/tsup.config.ts.hbs
  packages/cli/src/generators/action.ts
  packages/cli/src/generators/config.ts
  packages/cli/src/generators/contributors.ts
  packages/cli/src/generators/monorepo-lib.ts
  packages/cli/src/utils/logger.ts
Due: eslint --fix, prettier --write

chore(config): :hammer: release v0.0.30
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/config/src/team.ts
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/tsconfig/package.json
Due: eslint --fix, prettier --write

docs(auto-import): :memo: import path error
  packages/auto-import/README.md
Due: prettier --write

chore: :hammer: bump deps
  apps/docs/package.json
  examples/auto-import/react-vite-ahooks/package.json
  examples/auto-import/react-vite-antd-pro-components/package.json
  examples/auto-import/react-vite-antd/package.json
  package.json
  packages/auto-import/tsconfig.json
  packages/axios/tsconfig.json
  packages/cli/tsconfig.json
  packages/eslint-config/package.json
  packages/tsconfig/nest.json
  playgrounds/react/package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: bump deps
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/tsconfig/package.json
Due: none

feat(cli): :sparkles: add bump command
  packages/cli/src/bump/action.ts
  packages/cli/src/bump/bit-ocean.ts
  packages/cli/src/bump/index.ts
  packages/cli/src/cmd.ts
  packages/cli/src/cspell/action.ts
  packages/cli/src/generators/action.ts
  packages/cli/src/utils/get-latest-package-json.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/is-monorepo.ts
  packages/cli/src/utils/read-global-config.ts
  packages/cli/src/utils/read-package-json.ts
  packages/cli/src/utils/read-project-package-json.ts
Due: eslint --fix, prettier --write

chore(cli): :hammer: release v0.0.34
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/cli/src/bump/bit-ocean.ts
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/tsconfig/package.json
Due: eslint --fix, prettier --write

feat(cli): :sparkles: add monorepo lib generator
  package.json
  packages/cli/assets/templates/monorepo-lib/README.md.hbs
  packages/cli/assets/templates/monorepo-lib/package.json.hbs
  packages/cli/src/generators/action.ts
  packages/cli/src/generators/monorepo-lib.ts
Due: eslint --fix, prettier --write

chore(cli): :hammer: release v0.0.35
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tailwind/package.json
  packages/tsconfig/package.json
Due: none
