Repository bit-ocean-studio/infra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(cspell): :recycle: sort dict script using typescript instead of bun script
  .lintstagedrc.json
  package.json
  packages/commitlint-config/package.json
  packages/cspell/cspell-ext.json
  packages/cspell/dicts/bit-ocean.txt
  packages/cspell/dicts/common.txt
  packages/cspell/dicts/prettier.txt
  packages/cspell/scripts/sort-dicts.ts
  packages/cspell/tsconfig.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: bump version 0.0.16
  packages/axios/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/tsconfig/package.json
Due: none

release: 🔖 0.0.16
  CHANGELOG.md
Due: prettier --write

refactor(commitlint-config): :recycle: remove other commit types
  CHANGELOG.md
  nx.json
  package.json
  packages/commitlint-config/src/index.ts
Due: eslint --fix, prettier --write

chore: :hammer: update nx.json and build script
  nx.json
  package.json
Due: none

chore(release): 🔖 0.0.17
  CHANGELOG.md
  packages/axios/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/tsconfig/package.json
Due: prettier --write

chore: :hammer: use pnpm v9
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

chore: :hammer: specify pnpm version v9.0.0
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

chore: :hammer: bump deps version
  package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: remove tsconfig.base.json
  tsconfig.json
Due: none

chore: :hammer: bump deps version
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

docs(docs,prettier-config): :memo: adjust README.md
  apps/docs/README.md
  packages/cspell/dicts/common.txt
  packages/prettier-config/README.md
Due: prettier --write

chore: :hammer: add .astro to .prettierignore
  .prettierignore
Due: none

fix(commitlint-config): :bug: parse apps instead of app dir
  packages/commitlint-config/src/index.ts
Due: eslint --fix, prettier --write

fix(tsconfig): :bug: top level await need target newer than ES2017
  packages/cspell/tsconfig.json
Due: none

chore: :hammer: bump deps version
  apps/docs/package.json
  pnpm-lock.yaml
Due: none

feat(cli): :sparkles: add @bit-ocean/cli package
  CONTRIBUTORS.md
  README.md
  bit-ocean.config.js
  package.json
  packages/cli/README.md
  packages/cli/bin/index.js
  packages/cli/package.json
  packages/cli/src/cmd.ts
  packages/cli/src/config.ts
  packages/cli/src/index.ts
  packages/cli/src/repo-tools/cspell/index.ts
  packages/cli/src/repo-tools/cspell/sort-dicts.ts
  packages/cli/src/repo-tools/generator/contributors.ts
  packages/cli/src/repo-tools/generator/index.ts
  packages/cli/src/repo-tools/index.ts
  packages/cli/src/types.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/logger.ts
  packages/cli/src/utils/read-global-config.ts
  packages/cli/src/utils/read-package-json.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
  packages/cspell/dicts/common.txt
  packages/cspell/scripts/sort-dicts.ts
  packages/cspell/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: update typescript version
  package.json
  packages/cspell/README.md
  pnpm-lock.yaml
Due: prettier --write

chore: :hammer: update husky script
  .husky/pre-commit
Due: none

feat(cli): :sparkles: use @bit-ocean/config
  packages/cli/package.json
  packages/cli/src/config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: disable changelog
  CHANGELOG.md
  nx.json
Due: prettier --write

feat(cli): :sparkles: cspell sort dicts is not case sensitive
  packages/cli/src/repo-tools/cspell/sort-dicts.ts
  packages/cspell/dicts/common.txt
Due: eslint --fix, prettier --write

chore: :hammer: add .renovaterc
  .renovaterc
Due: none

chore: :hammer: bump deps version
  apps/docs/package.json
  package.json
  packages/commitlint-config/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

feat(renovate-config): :sparkles: add @bit-ocean/renovate-config package
  .renovaterc
  README.md
  package.json
  packages/eslint-config/package.json
  packages/renovate-config/README.md
  packages/renovate-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: :hammer: release 0.0.18
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: none

chore(cli): :hammer: use workspace package
  packages/axios/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/tsconfig/package.json
Due: none

docs: :memo: add install ways
  packages/cli/README.md
Due: prettier --write

chore(cspell): :hammer: remove unnecessary main entry
  packages/cspell/package.json
Due: none

feat(cli): :sparkles: add config generator
  .eslintrc.json
  .prettierignore
  packages/cli/assets/bit-ocean.config.hbs
  packages/cli/package.json
  packages/cli/src/cmd.ts
  packages/cli/src/repo-tools/generator/index.ts
  packages/cli/src/repo-tools/generators/config.ts
  packages/cli/src/repo-tools/generators/contributors.ts
  packages/cli/src/repo-tools/generators/index.ts
  packages/cli/src/repo-tools/index.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/read-git-repo.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: add auto import docs
  README.md
  packages/auto-import/README.md
  packages/auto-import/tsconfig.json
  packages/auto-import/tsup.config.ts
Due: eslint --fix, prettier --write

feat(auto-import): :sparkles: add @bit-ocean/auto-import package
  README.md
  package.json
  packages/auto-import/README.md
  packages/auto-import/package.json
  packages/auto-import/src/index.ts
  packages/auto-import/src/presets/index.ts
  packages/auto-import/src/presets/next.ts
  packages/auto-import/src/presets/react.ts
  packages/auto-import/src/resolvers/ahooks.ts
  packages/auto-import/src/resolvers/antd.ts
  packages/auto-import/src/resolvers/index.ts
  packages/auto-import/src/utils/get-components-map.ts
  packages/auto-import/src/utils/index.ts
  packages/auto-import/tsup.config.ts
  packages/cspell/dicts/common.txt
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: :hammer: update deps
  apps/docs/package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: add workspace config
  code.code-workspace
Due: none

chore: :hammer: update deps
  apps/docs/package.json
  package.json
  packages/auto-import/package.json
  packages/eslint-config/package.json
  playgrounds/react/package.json
  pnpm-lock.yaml
Due: none

docs: add README.md
  packages/bootstrap-animation/README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
  prettier --write: (any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,html,css,scss})
