Repository bit-ocean-studio/infra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{md,html,css,scss}": ["prettier --write"]
}

feat(storybook): :sparkles: add `storybook`
  .gitignore
  apps/docs/package.json
  examples/auto-import/react-vite-ahooks/package.json
  examples/auto-import/react-vite-antd-pro-components/package.json
  examples/echarts/react-vite-echarts/package.json
  examples/storybook/.eslintrc.json
  examples/storybook/.storybook/main.ts
  examples/storybook/.storybook/preview.ts
  examples/storybook/@types/vite-env.d.ts
  examples/storybook/README.md
  examples/storybook/index.html
  examples/storybook/package.json
  examples/storybook/public/vite.svg
  examples/storybook/src/App.tsx
  examples/storybook/src/assets/.gitkeep
  examples/storybook/src/main.tsx
  examples/storybook/src/stories/Button.stories.ts
  examples/storybook/src/stories/Button.tsx
  examples/storybook/src/stories/Header.stories.ts
  examples/storybook/src/stories/Header.tsx
  examples/storybook/src/stories/Page.stories.ts
  examples/storybook/src/stories/Page.tsx
  examples/storybook/src/stories/button.css
  examples/storybook/src/stories/header.css
  examples/storybook/src/stories/page.css
  examples/storybook/tsconfig.app.json
  examples/storybook/tsconfig.eslint.json
  examples/storybook/tsconfig.json
  examples/storybook/tsconfig.node.json
  examples/storybook/vite.config.ts
  package.json
  packages/auto-import/package.json
  packages/axios/package.json
  packages/cspell/cspell-ext.json
  packages/cspell/dicts/common.txt
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/react.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(storybook): :sparkles: add `ReactChart` stories
  examples/storybook/package.json
  examples/storybook/src/stories/ReactChart/ReactChart.stories.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: update
  examples/storybook/.storybook/main.ts
  examples/storybook/.storybook/manager.ts
  examples/storybook/.storybook/preview-head.html
  examples/storybook/.storybook/preview.ts
  examples/storybook/.storybook/preview.tsx
  examples/storybook/package.json
  examples/storybook/postcss.config.js
  examples/storybook/src/stories/ReactChart/ReactChart.stories.ts
  examples/storybook/src/stories/ReactChart/ReactChart.tsx
  examples/storybook/src/styles/main.scss
  examples/storybook/src/styles/tailwind.scss
  examples/storybook/tailwind.config.js
  examples/storybook/tsconfig.eslint.json
  packages/tailwind/README.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: update
  playgrounds/nest/.gitkeep
  playgrounds/next/.gitkeep
  playgrounds/react/.eslintrc.json
  playgrounds/react/@types/vite-env.d.ts
  playgrounds/react/README.md
  playgrounds/react/index.html
  playgrounds/react/package.json
  playgrounds/react/public/vite.svg
  playgrounds/react/src/App.css
  playgrounds/react/src/App.tsx
  playgrounds/react/src/assets/react.svg
  playgrounds/react/src/index.css
  playgrounds/react/src/main.tsx
  playgrounds/react/tsconfig.eslint.json
  playgrounds/react/tsconfig.json
  playgrounds/react/tsconfig.node.json
  playgrounds/react/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

chore: :hammer: bump deps
  apps/docs/package.json
  examples/auto-import/react-vite-ahooks/package.json
  examples/auto-import/react-vite-antd-pro-components/package.json
  examples/auto-import/react-vite-antd/package.json
  examples/echarts/react-vite-echarts/package.json
  package.json
  packages/auto-import/package.json
  packages/axios/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/tailwind/package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: remove renovate config
  .renovaterc
  README.md
  apps/docs/package.json
  apps/storybook/package.json
  examples/auto-import/react-vite-antd-pro-components/package.json
  examples/auto-import/react-vite-antd/package.json
  package.json
  packages/axios/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/renovate-config/README.md
  packages/renovate-config/package.json
  packages/theme/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(docs): :sparkles: update config
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/src/content/config.ts
  apps/docs/src/content/docs/index.mdx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :hammer: bump deps
  apps/storybook/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: bump deps
  apps/docs/package.json
  apps/storybook/package.json
  examples/auto-import/react-vite-ahooks/package.json
  examples/auto-import/react-vite-antd-pro-components/package.json
  examples/auto-import/react-vite-antd/package.json
  examples/echarts/react-vite-echarts/package.json
  package.json
  packages/auto-import/package.json
  packages/axios/package.json
  packages/commitlint-config/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/prisma/package.json
  packages/tailwind/package.json
  packages/theme/package.json
  pnpm-lock.yaml
Due: none

feat(antd): :sparkles: support new component `Splitter`
  packages/auto-import/package.json
  packages/auto-import/src/resolvers/antd/preset.ts
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/prettier-config/package.json
  packages/prisma/package.json
  packages/tailwind/package.json
  packages/tanstack-query/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: eslint --fix, prettier --write

feat(utils): :sparkles: add method `convertToDayjs` in `DateUtils`
  packages/auto-import/package.json
  packages/axios/package.json
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/prettier-config/package.json
  packages/prisma/package.json
  packages/tailwind/package.json
  packages/tanstack-query/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
  packages/utils/src/date.ts
Due: eslint --fix, prettier --write

chore: :hammer: release v0.0.52
  .npmrc
  apps/docs/package.json
  apps/storybook/package.json
  package.json
  packages/auto-import/package.json
  packages/axios/package.json
  packages/axios/src/types.ts
  packages/bootstrap-animation/package.json
  packages/bootstrap-animation/src/utils.ts
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/prettier-config/package.json
  packages/prisma/package.json
  packages/tailwind/package.json
  packages/tanstack-query/package.json
  packages/tanstack-query/src/config.ts
  packages/theme/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

chore: :hammer: release v0.0.53
  packages/auto-import/package.json
  packages/axios/package.json
  packages/axios/src/types.ts
  packages/bootstrap-animation/package.json
  packages/cli/package.json
  packages/commitlint-config/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/echarts/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/prettier-config/package.json
  packages/prisma/package.json
  packages/tailwind/package.json
  packages/tanstack-query/package.json
  packages/theme/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: eslint --fix, prettier --write
